<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>DAV Group 8 Project</title>
  </head>
  <body>
    <h1>DAV GROUP 8 PROJECT</h1>

    <div class="dropdown">
      <button class="dropbtn">Choose a factor</button>
      <div class="dropdown-content">
        <a href="#">Logged GDP per capital</a>
        <a href="#">Social Support</a>
        <a href="#">Freedom to make life choices</a>
        <a href="#">Unemployment rate</a>
        <a href="#">Human Development Index</a>
        <a href="#">Population density</a>
      </div>
    </div>

    {{svg}}

  </body>
</html>